body{
    background:#FFFFFF;
}

.cabecalho {
    padding: 20px;
    background-color: #508D4E;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;                
    width: 100%;   
}

#titulo-principal {
    text-align: center;
    font-size: 50px;
    color:#D6EFD8;
    background-color:#1A5319;
}

#subtitulo {
    font-size: 30px;
    color:#508D4E;
}

#texto {
    font-size: 20px;
    color: #508D4E;
}
 
em strong{
    color:#1A5319;
}

.img{ 
    height: 250px;
    width: 250px;
    margin: 10px;
    padding: 5px;
}
